/* @see http://eslint.org/docs/rules/ */

{
	"root": true,
	"parser": "@babel/eslint-parser",
	"plugins": [
		"@babel"
	],
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting"
	],
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		},
		"requireConfigFile": false
	},
	"globals": {
		"wp": true,
		"wpApiSettings": true,
		"window": true,
		"document": true,
		"jQuery": true,
		// GTM4WP global variables.
		"gtm4wp_datalayer_name": true,
		"dataLayer": true,
		"gtm4wp_use_sku_instead": true,
		"gtm4wp_id_prefix": true,
		"gtm4wp_remarketing": true,
		"gtm4wp_eec": true,
		"gtm4wp_classicec": true,
		"gtm4wp_currency": true,
		"gtm4wp_product_per_impression": true
	},
	"settings": {
		"react": {
			"pragma": "wp",
			"version": "16.13.1" /* Current dependency version for WordPress */
		}
	},
	"rules": {
	  "arrow-parens": ["error", "as-needed"]
	}
}
