@use "Settings/colors" as c;
@use "Settings/typography" as t;

@forward "@qala/Components/woocommerce/_product-card.scss" with (
	$price_color: c.$white,
	$price_font-size: 15,
	$price_font-size--desktop: 17,
);

.woocommerce-loop-product__title {
	font-family: t.$font__content;
	font-weight: 400;
}

.wc-block-grid ul.wc-block-grid__products li.wc-block-grid__product {
	.wc-block-grid__product-title,
	.wc-block-grid__category-title,
	.woocommerce-loop-product__title {
		color: c.$white;

		a {
			color: c.$white;
		}
	}
}

.qec-results__generic-product-product {
	align-items: flex-start;
	height: auto;

	a.qec-results__generic-product-button {
		margin-top: auto;
	}
}
